.val {
  background-color: #4c52ab;
  padding: 5px 9px;
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
  color: #ffffff;
  width: 100%;
}

.icon1 {
  margin-left: 9px;
  cursor: pointer;
  margin-right: 5px;
}

.icon {
  margin-left: 9px;
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  * {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
  }
  .val {
    min-width: 380px;
    max-width: 500px;
    margin: 0px;
    margin-left: -10px;
    margin-bottom: 10px;
    height: auto;
  }
  .icon1,
  .icon {
    padding: 0px;
    margin: 0px;
  }

  .icon1 {
    margin-left: -15px;
  }

  .icon {
    margin-left: 10px;
  }
  .val1 {
    padding: 0px;
    margin: 0px;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    height: 50px;
  }
}
